/* single8 page template css */

.single-template-8 {
  color: #1a1a1a;
}

/* === Featured Image === */
.single-template-8 .featured-image {
  width: 100%;
  object-fit: cover;
  display: block;
  margin-bottom: var(--space-default);
}

/* === Layout Wrappers === */
.single-template-8 .post-inner-wrap,
.single-template-8 .post-body {
  max-width: 720px;
  margin: 0 auto;
  padding-top: 24px;
}

.single-template-8 .temp-9-post-inner-wrap {
  margin: var(--space-default) auto;
}

.top-head {
  width: 100%;
  max-width: 720px;
  margin: 0 auto;
}

/* === Typography & Headings === */
.single-template-8 .post-title,
.single-template-8 .post-category,
.single-template-8 .post-meta {
  text-align: center;
}

.single-template-8 .post-category {
  /* color: #8a3b3a; */
  text-transform: uppercase;
  padding: 8px 0;
  letter-spacing: 0.05em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.single-template-8 .post-meta {
  padding: var(--space-default) 0;
}

/* === Strapline === */
.single-template-8 .post-strapline {
  text-align: center;
  /* display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden; */
  margin-bottom: var(--space-default);
}

/* === Content Styling === */
.post-body {
  font-family: "General Sans Variable", Arial, sans-serif !important;
  font-size: 20px;
  line-height: 24px;
}

.post-body h1 {
  color: #8a3b3a;
  font-size: 48px;
  line-height: 120%;
}

.post-body h2 {
  color: #8a3b3a;
  font-size: 40px;
  line-height: 120%;
}

.post-body h3 {
  color: #8a3b3a;
  font-size: 32px;
  line-height: 130%;
}

.hero-post .orbit-headline {
  font-size: 40px;
  line-height: 120%;
}

.hero-post .orbit-strapline {
  font-size: 20px;
  line-height: 150%;
}

@media (max-width: 768px) {
  .post-body {
    font-size: 16px;
    line-height: 22px;
  }

  .post-body h1 {
    font-size: 36px;
    line-height: 120%;
  }

  .post-body h2,
  .single-template-8 {
    font-size: 32px;
    line-height: 120%;
  }

  .post-body h3 {
    font-size: 24px;
    line-height: 140%;
  }

  .single-template-8 blockquote {
    font-size: 18px !important;
    padding: 20px 0 !important;
    margin: 1rem 0 !important;
  }

  .single-template-8 blockquote p {
    font-size: 18px !important;
    line-height: 22px !important;
    padding-top: 20px !important;
    padding-bottom: 20px !important;
  }

  .hero-post .orbit-headline {
    font-size: 32px;
    line-height: 120%;
  }

  .hero-post .orbit-strapline {
    font-size: 16px;
    line-height: 140%;
  }
}

/* === Blockquote === */
.single-template-8 blockquote {
  padding: 32px 0;
  margin: 1.5rem 0;
  border-left: none;
}

.single-template-8 blockquote p {
  font-family: "Lora" !important;
  font-style: normal;
  font-weight: 500;
  color: #8a3b3a;
  font-size: 24px;
  line-height: 26.4px;
  padding-top: 32px;
  padding-bottom: 32px;
}

.single-template-8 blockquote::before,
.single-template-8 blockquote::after {
  content: "";
  display: block;
  height: 2px;
  background-color: #8a3b3a;
  margin: 0.5rem auto;
  width: 100%;
}

/* === Links === */
.single-template-8 p a {
  color: #8a3b3a;
  font-style: normal;
  font-weight: 700;
  line-height: 1.1;
  text-decoration: underline;
}

/* === Utility === */
.single-template-8 .space {
  text-align: center;
}

.category-icon-label {
  display: inline-flex;
  align-items: center;
  gap: 8px;
}

.category-icon-label i {
  font-size: 3em;
  line-height: 1;
}

.load-more {
  display: flex;
  align-items: center;
  padding: 12px 24px;
  background-color: #6b2d29;
  color: white !important;
  border-radius: 50px;
  cursor: pointer;
  margin: 20px auto;
  line-height: 18px;
}

.load-more:hover {
  background-color: #8c3b37;
  color: white !important;
}

.load-more::before {
  content: "\f4a6";
  font-family: "boxicons-rounded";
  font-size: 24px;
  margin-right: 5px;
  display: inline-block;
  vertical-align: middle;
}

.single-template-8 .post-tags {
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  color: #c3924f;
  text-align: center;
  padding: 8px 0;
}
